<div>
    <div class="row">
        <div class="col-md-12">
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['institutions']" routerLinkActive="active">Institutions</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['surveys']" routerLinkActive="active">Surveys</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


