<div class="row">
    <div class="col-md-12">
        <h2>Institutions</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>The available institutions for surveys are listed below.</p>
    </div>
</div>
<div class="row">
    <div class= "col-md-12">
        <ul>
            <li class="institutionlist">
                <div class="row">
                    <div class="col-3 heading-title">ID</div>
                    <div class="col-3 heading-title">Code</div>
                    <div class="col-6 heading-title">Name/Description</div>
                </div>
            </li>
            <li class="institutionlist" *ngFor="let institution of institutions; let i = index">
                <div class="row">
                    <div class="col-3">{{institution.id}}</div>
                    <div class="col-3">{{institution.code}}</div>
                    <div class="col-6">{{institution.name}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>