<div>
    <form class="form-horizontal">
        <fieldset>

            <!-- Form Name -->
            <legend>Create Institution</legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="code">Institution Code</label>
                <div class="col-md-4">
                    <input id="code" name="code" placeholder="Enter code here" class="form-control input-md" required="" type="text">
                    <span class="help-block">Institution code should be short</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="institutionName">Institution Name</label>
                <div class="col-md-4">
                    <input id="institutionName" name="institutionName" placeholder="Enter institution name here" class="form-control input-md" type="text">
                    <span class="help-block">Use the legal name if possible</span>
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="createInstitutionBtn">Create Institution</label>
                <div class="col-md-8">
                    <button id="createInstitutionBtn" name="createInstitutionBtn" class="btn btn-success">Create New Institution</button>
                    <button id="cancelInstBtn" name="cancelInstBtn" class="btn btn-danger">Cancel</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>